body {
  background-color: #000;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapper{
  display: grid;
  grid-template-columns: 5% auto auto 5%;
  grid-template-rows: 650px repeat(6, auto);
  grid-gap: 0;
}

.header{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(/img/bannerimg.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header-text{
  opacity: .8;
}

.intro{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 30px;
}

.intro p{
  margin-left: 70px;
  margin-right: 70px;
}

.top-artists{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 30px;
  margin-bottom: 30px;
}

.top-artists p{
  margin-left: 70px;
  margin-right: 70px;
}

.hero-img{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url(/img/post2.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news{
  grid-column-start: 2;
  grid-column-end:4;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-bottom: 30px;
}

.news p{
  margin-left: 70px;
  margin-right: 70px;
}

.examples{
  grid-column-start: 2;
  grid-column-end:4;
  grid-row-start: 6;
  grid-row-end: 7;
  margin-bottom: 30px;
}

#artistresults{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#lyricsresults{
  margin-top: 30px;
}

h1 {
  font-family: 'Yeseva One', cursive;
  color: #fff;
  font-size: 10em;
  margin: 5px;
}

h2 {
  font-family: 'Yeseva One', cursive;
  color: #fff;
  font-size: 2.5em;
  margin: 5px;
}

h3{
  font-family: 'Yeseva One', cursive;
  color: #fff;
  font-size: 20px;
  margin: 5px;
}

h4{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 15px;
}

h5{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 10px;
}

p{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  line-height: 1.6;
}

a{
  text-decoration: none;
}

.credit{
  text-align: right;
  margin: 5px;
}

.thumbnail{
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  margin-right: 15px;
}

.cards{
  background: #212121;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  display: inline-flex;
  margin-left: 70px;
  margin-right: 70px;
}

.cards:hover {
  background: #3b3b3b;
  transition: .5s ease;
}

.artist-cards{
  background: #212121;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.artist-cards:hover {
  background: #3b3b3b;
  transition: .5s ease;
}

.lyrics{
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
}

.lyrics-text{
  margin: auto;
  background: #212121;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  padding: 10px;
  width: 400px;
  text-align: center;
}









@media (max-width: 700px){
  .wrapper{
    display: grid;
    grid-template-columns: 5% auto auto 5%;

  }
}
